.App {
  text-align: center;
}

.App-header {
  background-color: #3f72d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #0e3642;
}
a:visited {
  color: #000;
}
.Weather .threeCircles {
  display: block;
  margin: 0 auto;
}
